* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.game-board {
    width: 100%;
    height: 80vh;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    background: linear-gradient(#87ceeb, #e0f6ff);
}

.nuvens{
    position: absolute;
    width: 70%;
    top: 20%;
    animation: nuvem-animation 8s infinite linear;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 30px;
    animation: pipe-animation 2.5s infinite linear;
}



/* Mário */
.mario {
    width: 50px;
    position: absolute;
    bottom: 0;
    /* animation: pular 0.5s infinite linear; */
}

.pular {
    animation: pular 0.5s
}

@keyframes pular {
   0% {
        bottom: 0px;
    }

    40% {
        bottom: 90px;
    }
    50% {
        bottom: 90px;
    }
    60%{
        bottom: 90px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes pipe-animation {
    from{
        right:-80px;
    }
    to {
        right: 100%;
    }
}

@keyframes nuvem-animation {
    from{
        right:-55%;
    }
    to {
        right: 100%;
    }
}



@media screen and (orientation: landscape){
    /* Suas regras CSS específicas para dispositivos móveis na orientação horizontal aqui */
    .nuvens{
        
        width: 30%;
        
    }

    .game-board{
        height: 70vh;
    }
  }

@media screen and (min-width: 768px) {
    /* Suas regras CSS específicas para desktops aqui */
    

    body{
        background-color: green;
    }

    
    .game-board{
        height: 500px;
    }

    .nuvens{
        width: 20%;
    }
    
}